@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #315e55, #00ffb3) ;
}
/*
#menu {
    width: 40vw;
    height: 25vh;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.404);
    border: 2px solid #7DE2D1;
}
*/
#menu > h1 {
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
}